@page "/auth/login"
@using Shop.Shared.Auth
@using Shop.Shared.Services.AuthService

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h3>Login</h3>

<EditForm Model="userLoginDto" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Email">Email</label>
        <InputText id="Email" class="form-control" @bind-Value="userLoginDto.Email" />
        <ValidationMessage For="@(() => userLoginDto.Email)" />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <InputText id="Password" type="password" class="form-control" @bind-Value="userLoginDto.Password" />
        <ValidationMessage For="@(() => userLoginDto.Password)" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private UserLoginDto userLoginDto = new UserLoginDto();

    private async Task HandleLogin()
    {
        var result = await AuthService.Login(userLoginDto);
        if (result.Success)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
